.modal-content{
    width: 50vw!important;
    height: 75vh!important;
    background: rgba(255, 255, 255, 0.1);
}
.modal-main{
    padding: 20vh;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 0px 5px rgba(255, 255, 255, 0.5);
}
.modal-main:hover{
    text-shadow: 2px 0px 5px rgba(255, 255, 255, 0.5);
}
.form-control-submit{
    margin-bottom:2%;
    margin-top: 2%;
    border-color: rgba(0,0,0,0.01);
    box-shadow: none;
    color: rgba(0,0,0,0.5);
    font-weight: bold;
}
.form-control-submit:hover{

    border-color: rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    color: rgba(0,0,0,0.9);
    font-weight: bold;
}